@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: Helvetica;
}

h3 {
  margin: 0;
  padding: 0;
}

.ui-link {
  text-decoration: none;
  color: var(--primary);
}

.ui-title {
  font-family: Helvetica;
}

.ui-container {
  padding-top: 5px;
  width: 100vw;
  margin: 0 auto;
}


 



.item-title {
  font-size: 30px;
}

.item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}


